html {
  margin-top: 2px;
}

.header {
  position: static;
  padding: 27px 0;
}

.slider {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 40px;
  padding: 60px 0;
}

.flipper__container{
  perspective: 1000px;
}

.flipper{
  transition: 1s;
	transform-style: preserve-3d;
	position: relative;
  width: 270px;
  height: 435px;
}

.flipper__container .flipper {
  transform: rotateY(0deg);
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
  right: 0;
  bottom: 0;
}

.front {
	z-index: 2;
}

.back {
	transform: rotateY(180deg);
  background-color: silver;
}

.paginator {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;

  .btn {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #292929;
    background-color: transparent;
  }
  .nobtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #f1cdb3;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    background: #f1cdb3;
    border-radius: 50%;
    padding: 0;
    width: 52px;
    height: 52px;
  }
  .btn:hover:not(:disabled) {
    background-color: #fddcc4;
  }
  .btn:disabled {
    color: #cdcdcd;
  }
}

@media(max-width:1260px){
  #our-friends{
    padding-bottom: 77px;
  }
  .slider{
    grid-template-columns: repeat(2, 1fr);
    gap : 30px 40px;
    padding-top: 28px;
    padding-bottom: 40px;
  }
  .slider__card:nth-child(7),
  .slider__card:nth-child(8){
    display: none;
  }
}

@media(max-width: 760px){
  #our-friends{
    padding-bottom: 42px;
  }
  .burger--dark .line{
    background-color: #000;
  }
  .slider{
    grid-template-columns: repeat(1, 1fr);
    gap : 30px 40px;
    padding-top: 41px;
    padding-bottom: 42px;
  }
  .slider__card:nth-child(4),
  .slider__card:nth-child(5),
  .slider__card:nth-child(6),
  .slider__card:nth-child(7),
  .slider__card:nth-child(8){
    display: none;
  }
  .btn--circle{
    position: static;
  }
  .paginator{
    gap: 10px;
  }
}